/*body{ background-image: url(../img/parede.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    }*/
body{
    background-color: rgb(162, 164, 168);
}
#menu {
    padding: 0;
    }
#menu li {
   display: initial;
}
#menu li a {
    font-family: Arial;
    font-size: 20px;
    text-decoration: none;
    float: right;
    padding: 10px;
    background-color: black;
    color: white;
}
#menu li a:hover {
    color: black;
    background-color: white;
    margin-top: -2;
    padding-bottom: 12px;
}
input, select, textarea{
    display: block;
    width:200px;
}

button,label{
    display: block;
}
div.circulo{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;  
  float: left;
}        
img{
    position: absolute;
    width: 100%; 
}
h1{
    margin: 0%;
}
.conteudo{
    width: 230px; 
    height: 150px; 
    left: 50%; 
    margin: -130px 0 0 -90px; 
    padding-right: 10px;
    padding-bottom: 70px;
    padding-left: 10px;
    position: absolute; 
    top: 50%;
}

table{
    text-align: center;
}